{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiet Sprout</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div id="main-container">
        <aside>
            {% block left_panel %}
                {% include 'left_panel/left_panel.html' %}
            {% endblock %}
        </aside>

        <main>
            {% block center_panel %}
                {% include center_template %}
            {% endblock %}
        </main>

        <aside>
            {% block right_panel %}
                {% include 'right_panel/right_panel.html' %}
            {% endblock %}
        </aside>
    </div>
</body>
</html>
